In [35]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.ensemble import RandomForestRegressor

In [8]:
df=pd.read_csv("clean_house_l5_dataset.csv")
df.head(5)

,Size_sqft,Bedrooms,Bathrooms,YearBuilt,Price,Location_City,Location_Rural,Location_Suburb,HouseAge,Rooms_per_1000sqft,Size_per_Bedroom,Is_City,LogPrice
0,1.030281,-1.463643,0.088986,-1.279342,812100.0,1,0,0,1.279342,-1.061465,3.123085,1,13.607380
1,-0.482463,-1.463643,1.347506,1.326476,547000.0,1,0,0,-1.326476,-0.265637,1.309520,1,13.212206
2,0.468877,0.007430,-1.169534,-1.339942,693700.0,1,0,0,1.339942,-0.689547,-0.163970,1,13.449796
3,1.079817,0.742966,1.347506,-0.915740,848300.0,1,0,0,0.915740,-0.199111,-0.307614,1,13.650991
4,0.788954,1.478502,-1.169534,0.962873,806000.0,0,0,1,-0.962873,-0.311002,-0.610027,0,13.599840

In [33]:
x=df.drop(columns=["Price","LogPrice"])
y=df["Price"]

In [34]:
#spliting data into train and test
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [36]:
#predicting by using both LR AND RF
lr=LinearRegression()
rf=RandomForestRegressor(n_estimators=100, random_state=42)
lr.fit(x_train,y_train)
rf.fit(x_train,y_train)
lr_pred=lr.predict(x_test)
rf_pred=rf.predict(x_test)

[789031. 821977. 290899. 557028. 538756. 297368. 396774. 724944. 777862.
 832261. 311571. 551531. 393837. 551299. 711626. 779024. 302785. 540015.
 330577. 545878.]

array([656754.66720779, 822634.7173445 , 188637.49473079, 594040.9378655 ,
       609615.22485083, 411139.21882378, 444365.96225017, 727107.31998415,
       718486.32165982, 825315.58832645, 299971.0381155 , 486275.95067698,
       420030.94370326, 552711.25630098, 679903.86858088, 747845.50808667,
       379820.32605756, 565493.59852803, 258460.20166531, 537055.55071361])

In [44]:
#model comparring
def model(name,y_true,y_predect):
    r2=r2_score(y_true,y_predect)
    mae=mean_absolute_error(y_true,y_predect)
    mse=mean_squared_error(y_true,y_predect)
    rmse=np.sqrt(mse)
    print(name)
    print(f"r2: {r2:,.2f}")
    print(f"mae: {mae:,.0f}")
    print(f"mse: {mse:,.0f}")
    print(f"rmse: {rmse:,.0f}")

model("LinearRegression",y_test,lr_pred)
model("RandomForest",y_test,rf_pred)

LinearRegression
r2: 0.85
mae: 63,086
mse: 5,718,940,941
rmse: 75,624
RandomForest
r2: 0.86
mae: 52,524
mse: 5,283,317,455
rmse: 72,686

In [52]:
# Select the index
i = 4
sample_x = x_test.iloc[[i]]
actual_price = y_test.iloc[i]

lr_val = lr.predict(sample_x)[0]
rf_val = rf.predict(sample_x)[0]

print(f"--- Sanity Check (Row {i}) ---")
print(f"Actual Price:  ${actual_price:,.2f}")
print(f"LR Prediction: ${lr_val:,.2f}")
print(f"RF Prediction: ${rf_val:,.2f}")

--- Sanity Check (Row 4) ---
Actual Price:  $535,300.00
LR Prediction: $609,615.22
RF Prediction: $538,756.00